@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;

    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    align-items: center;
}
#logo img{
    width: 5rem;
}
.cabecalho-menu ul{
    list-style: none;
    display: flex;
    
}
.cabecalho-menu a{
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}
.cabecalho-menu li{
    margin: 0 0.5rem;

}
.destaque{
    color: var(--cor-terciaria);
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding: 5% 15%;

}
.apresentacao-conteudo{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2.5rem;

}
.apresentacao-conteudo-texto{
    font-size: 1.2rem;
}
.apresentacao-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.apresentacao-links-titulo{
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
}